nav {
  height: 70px;
  background-color: rgb(245 245 229 / 86%);
  padding: 0 18px;
  display: flex;
  justify-content: space-between;
}

.navbar__left {
  width: 15.5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burgerMenu {
  display: none;
}

.navbar__center {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar__center li {
  /* text-align: center;
  cursor: pointer;
  list-style-type: none; */
  text-align: center;
  cursor: pointer;
  list-style-type: none;
  padding: 8px 15px;
  border-radius: 33px;
  /* transition: all 0.4s; */
}
.navbar__center li:hover {
  background-color: rgb(245 245 229 / 98%);
  color: rgb(22, 22, 22);
  border: 1px solid rgba(208, 208, 200, 0.564);
}

.navbar__right {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* .right_input input {
  width: 130%;
  height: 25px;
  background-color: bisque;
} */

/* .right_input input::placeholder {
  text-align: center;
  font-size: 18px;
  color: inherit;
} */
.left__logo-real img {
  cursor: pointer;
  width: 166px;
}
.right__login img {
  width: 35px;
  cursor: pointer;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.nav-search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245 245 229 / 86%);
}
.searchBtnNav {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px 15px;
  border-radius: 15px;
  border: none;
  margin-left: 10px;
  color: white;
  background-color: #000000;
  transition: 0.5s;
  cursor: pointer;
}
.searchBtnNav:hover {
  color: black;
  background-color: white;
}
.nav-search input {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 80%;
  font-size: 15px;
  height: 30px;
  border: 1px solid #cdb7b7;
  padding: 10px;
  border-radius: 15px;
}

.nav-search input::placeholder {
  font-size: 18px;
  color: inherit;
}

@media all and (max-width: 900px) {
  .nav {
    display: flex;
    justify-content: space-around;
  }
  .navbar__left {
    width: 30%;
  }

  .burgerMenu {
    display: flex;
    align-items: center;
  }

  .navbar__center {
    display: none;
  }
  .navbar__right {
    width: 20%;
  }
}

@media all and (max-width: 600px) {
  .navbar__left {
    width: 50%;
  }
}

@media all and (max-width: 420px) {
  .navbar__right {
    width: 25%;
  }
}
@media all and (max-width: 370px) {
  .navbar__right {
    width: 30%;
  }

  .left__logo-ucl {
    display: none;
  }
}
